<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="kr.namoosori.opendic"
            name="OpenDic">
      </category>
      <view
            category="kr.namoosori.opendic"
            class="kr.namoosori.opendic.views.OpenDicView"
            icon="icons/book_go.png"
            id="kr.namoosori.opendic.views.OpenDicView"
            name="오픈딕뷰"
            restorable="true">
      </view>
      <view
            category="kr.namoosori.opendic"
            class="kr.namoosori.opendic.views.OpenDicDetailView"
            icon="icons/book_open.png"
            id="kr.namoosori.opendic.views.OpenDicDetailView"
            name="오픈딕 상세뷰"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="kr.namoosori.opendic.views.SampleView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="kr.namoosori.opendic.views.OpenDicView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList">
         </view>
         <viewShortcut
               id="kr.namoosori.opendic.views.OpenDicView">
         </viewShortcut>
         <perspectiveShortcut
               id="kr.namoosori.opendic.OpenDicPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="kr.namoosori.opendic.workbenchActionSet"
            label="OpenDic"
            visible="true">
         <menu
               id="kr.namoosori.opendic.workbenchMenu"
               label="오픈딕"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="kr.namoosori.opendic.actions.OpenOpenDicViewActionDelegate"
               icon="icons/book_go.png"
               id="kr.namoosori.opendic.openOpenDicView"
               label="오픈딕 열기"
               menubarPath="kr.namoosori.opendic.workbenchMenu/content"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="Normal/additions">
         </action>
         <action
               class="kr.namoosori.opendic.actions.OpenOpenDicDetailViewActionDelegate"
               icon="icons/book_open.png"
               id="kr.namoosori.opendic.openOpenDicDetailView"
               label="오픈딕상세열기"
               menubarPath="kr.namoosori.opendic.workbenchMenu/content"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="Normal/additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="kr.namoosori.opendic.popupMenu"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               id="kr.namoosori.opendic.popupSubMenu"
               label="오픈딕">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="kr.namoosori.opendic.actions.AddToOpenDicActionDelegate"
               enablesFor="+"
               icon="icons/sample.gif"
               id="kr.namoosori.opendic.addToOpenDic"
               label="ADD"
               menubarPath="kr.namoosori.opendic.popupSubMenu/content">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="kr.namoosori.opendic.editors.WordEditor"
            default="false"
            icon="icons/edit.png"
            id="kr.namoosori.opendic.editors.WordEditor"
            name="단어 에디터">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="kr.namoosori.opendic.perspective.OpenDicPerspective"
            icon="icons/anchor.png"
            id="kr.namoosori.opendic.OpenDicPerspective"
            name="오픈딕 퍼스펙티브">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="kr.namoosori.opendic.commands.OpenOpenDicViewCommand"
            id="kr.namoosori.opendic.commands.OpenOpenDicViewCommand"
            name="오픈딕 열기 Cmd">
      </command>
      <command
            defaultHandler="kr.namoosori.opendic.commands.OpenOpenDicDetailViewCommand"
            id="kr.namoosori.opendic.commands.OpenOpenDicDetailViewCommand"
            name="오픈딕상세열기Cmd">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="kr.namoosori.opendic.menu"
               label="OpenDic메뉴"
               mnemonic="O">
            <command
                  commandId="kr.namoosori.opendic.commands.OpenOpenDicViewCommand"
                  icon="icons/book_go.png"
                  label="오픈딕View"
                  mnemonic="V"
                  style="push">
            </command>
            <command
                  commandId="kr.namoosori.opendic.commands.OpenOpenDicDetailViewCommand"
                  icon="icons/book_open.png"
                  label="오픈딕Detail"
                  mnemonic="D"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="kr.namoosori.opendic.toolbar"
               label="OpenDic툴바">
            <command
                  commandId="kr.namoosori.opendic.commands.OpenOpenDicViewCommand"
                  icon="icons/book_go.png"
                  label="오픈딕"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="단어를 찾습니다.">
            </command>
            <command
                  commandId="kr.namoosori.opendic.commands.OpenOpenDicDetailViewCommand"
                  icon="icons/book_open.png"
                  label="상세"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=kr.namoosori.opendicapplication.File">
         <menu
               label="Open">
            <command
                  commandId="kr.namoosori.opendic.commands.OpenOpenDicViewCommand"
                  icon="icons/book_go.png"
                  label="오픈딕열기byCmd"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:kr.namoosori.opendicapplication.File?after=kr.namoosori.opendicapplication.File.Exit">
         <command
               commandId="kr.namoosori.opendic.commands.OpenOpenDicDetailViewCommand"
               icon="icons/book_open.png"
               label="오픈딕상세열기byCmd"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
